{:deps  {net.cgrand/xforms       {:mvn/version "0.18.1"}
         redux                   {:mvn/version "0.1.4"}
         kixi/stats              {:mvn/version "0.4.0"}
         org.clojure/data.csv    {:mvn/version "0.1.4"}
         com.hypirion/clj-xchart {:mvn/version "0.2.0"}
         thi.ng/geom             {:mvn/version "1.0.0-RC3"}
         ;; thi.ng/color            {:mvn/version "1.3.0"}
         ;; thi.ng/geom-svg         {:mvn/version "0.0.743"}
         ;; thi.ng/geom-viz         {:mvn/version "0.0.908"}
         cljfreechart            {:mvn/version "0.1.0"}}
 :paths ["src" "resources"]
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {com.cemerick/pomegranate     {:mvn/version "1.0.0"}
                 org.clojure/tools.deps.alpha {:mvn/version "0.5.417"}}}}}
